<header>
  <nav class="navbar navbar-light bg-light">
    <a routerLink="/home" class="navbar-brand"><h1>STRAVA</h1></a>
    <section class="button">
      <a routerLink="/from">
        <span class="text">S'inscrie</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </section>
  </nav>
</header>
