<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="conteneur">
        <div class="footer-section-about">
          <ul>
            <li><h3>About</h3></li>
            <li>Portfolio</li>
            <li>Careers</li>
            <li>Customers</li>
            <li>Service</li>
          </ul>
        </div>
        <div class="footer-section-link">
          <ul>
            <li><h3>Resources</h3></li>
            <li>Blog</li>
            <li>Docs</li>
          </ul>
        </div>

        <div class="footer-section-contact-from">
          <ul>
            <li><h3>Contact</h3></li>
            <li>Help</li>
            <li>Sales</li>
            <li>Advertise</li>
          </ul>
        </div>

        <div class="footer-section-contact-help">
          <div class="ft-main-item">
            <h2 class="ft-title">Stay Updated</h2>
            <p>Subscribe to our newsletter to get our latest news.</p>

            <form>
              <input type="email" name="email" placeholder="Enter email address">
              <input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>


      <div class="footer-icon">
        <div id="conteneur" >
          <div class="img 1">
            <a href="https://fr-fr.facebook.com/Strava/">
              <img src="assets/photos/facebook.png" matTooltip="Facebook" matTooltipClass="button1" >
            </a>
          </div>

          <div class="img 2">
            <a href="https://twitter.com/strava?lang=fr">
              <img src="assets/photos/twitter.png " matTooltip="Twitter" >
            </a>
          </div>

          <div class="img 3">
            <a href="https://github.com/login">
              <img src="assets/photos/github.png" matTooltip="Github">
            </a>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <li>&copy; 2020 Copyright Nowrap Inc.</li>
      </div>
    </div>

  </div>
</footer>
