
footer .footer{
  background: gray;
  color: white;
  position: relative;
  border-top: 10px solid orangered;


}


.footer .footer-icon{
  background: gray;
  height:60px ;

}


.footer .footer-bottom{
  background: #272626;
  color: white;
  height: 50px;
  text-align: center;
  padding-top: 20px;
  vertical-align: center;


}

#conteneur{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 12px;


}
img {
  width: 35px;
  height: 35px;
  padding: 5px;
}
.conteneur {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1.0em;
}
footer li {
  list-style: none;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: orangered;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
