
section{
  width: 100%;
  height: 100%;
  background: url("https://www.corsicasporttravel.com/photo/art/grande/9347881-14952089.jpg?v=1461310046") no-repeat;
  background-size: cover;
  color: white;

}
.wrapper{
  display:table;
  width: 100%;
  height: 100%;
}
.content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

}
form {
  width: 600px;
  height: 500px;
  margin: auto;
  background-color: black;
  padding: 20px;
  background: rgba(0,0,0,0.75);
}



button {
  margin: 10px;
  text-decoration: none;
  border: none;
  color: white;
  border-radius: 3px;
  min-height: 35px;
  width: 50%;
}
/*boutton couleur formulaire inscription*/
.submit {
  background-color: orangered;
}

.button-inscription button{
  width: 300px ;
}
.button-inscription{
  width: 600px;
  margin: auto;
  background-color: black;
  padding: 20px;
  background: rgba(0,0,0,0.75);


}


.btn-fb{
  background-color: #285E8E;
}
.btn-go{
  background-color: white;
}
.btn-go h6{
  color: #272626;
}
.btn-fb img {
  height: 35px;
  padding: 5px;

}
.btn-go img{
  height: 35px;
  padding: 5px;
}

input {
  background-color: black;
}

p {
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  color: orangered;
}
select {
  background-color: black;
}

@media (max-width: 770px) {
  form {
    width: 600px;
    height: 700px;
    margin: auto;
    background-color: black;
    padding: 20px;
    background: rgba(0,0,0,0.75);
  }
}
