<app-header></app-header>
<section>
  <div class="wrapper">
    <div class="content">
      <div class="button-inscription">
        <p>{{titre}}</p>
        <p>welcome {{prenom}}</p>
        <a href="https://fr-fr.facebook.com/"><button  type="submit" class="btn-fb" data-toggle="tooltip" data-placement="top" title="Facebook"  matTooltip="facebook"><img src="assets/photos/facebook.png"></button></a>
        <br>
        <a href="https://myaccount.google.com/"> <button type="submit" class="btn-go" data-toggle="tooltip" data-placement="top" title="Google"  matTooltip="google"><img src="assets/photos/google.png"></button></a>
      </div>
      <form [formGroup]="From" (ngSubmit)="login()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFName">First Name</label>
            <input [(ngModel)]="prenom" name ="prenom" type="text" class="form-control"  formControlName="FirstName" id="inputFName" placeholder="first name" formGroupName="FirstName" required>
          </div>
          <div class="form-group col-md-6">
            <label for="inputLName">Last Name</label>
            <input type="text" class="form-control" formControlName="LastName" id="inputLName" placeholder="first name" formGroupName="LastName" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="1234 Main St" >
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" placeholder="(Nantes for example)" >
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
        </div>
        <button type="submit" class="submit" >Sign in</button>
      </form>

<!--  test-Recuperation des données dans le forulaire
      <pre>
        {{From.value | json}}
      </pre>
      -->

    </div>
  </div>
</section>
<app-footer></app-footer>

