
<app-header></app-header>
<section>
  <div class="wrapper">
     <div class="content">
     <h1>L'application  pour les coureurs et les cyclistes !</h1>
       <form>
         <label class="login"><p>{{titre}}</p></label>
         <div class="form-group">
           <label for="exampleInputEmail1">Email address</label>
           <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" img="" required>
           <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
         </div>
         <div class="form-group">
           <label for="exampleInputPassword1">Password</label>
           <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" required>
         </div>
         <div class="form-group form-check">
           <input type="checkbox" class="form-check-input" id="exampleCheck1">
           <label class="form-check-label" for="exampleCheck1">Check me out</label>
         </div>
         <button class=" button">Submit</button>
       </form>
     </div>
  </div>
</section>
<app-footer></app-footer>
