
section {
    width: 100%;
    height: 100%;
    background: url("https://i.ytimg.com/vi/LWPt5xv6ydA/maxresdefault.jpg") no-repeat;
    background-size: cover;
    color: white;
}
.wrapper{
    display:table;
    width: 100%;
    height: 100%;
}
.content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}
h1 {

  margin: 30px;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}
/* formumaire*/

  form {
    width: 300px;
    height: 400px;
    margin: auto;
    background-color: black;
    border-radius: 10px ;
    padding: 20px;
    background: rgba(0,0,0,0.75);

}


button {
    background-color: orangered;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 3px;
    min-height: 35px;
    width: 100%;


}
form label .login {
  font-family: 'Bebas Neue', cursive;
}
input {
  background-color: black;


}
.login p{
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  color: orangered;
}
